#navbarBgColor {
background: #197083;
background: linear-gradient(39deg, rgba(25, 112, 131, 1) 34%, rgba(87, 199, 100, 1) 65%, rgba(25, 112, 131, 1) 84%);

}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.postagem{
    padding: 10px;
    width: 80%;
    height: 95%;
    margin: auto; 
    background-color: #fafbfb; 
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

/* Estilos pagina de cadastro */

form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #fafbfb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 8px;
}

