#navbarBgColor {
background: #197083;
background: linear-gradient(39deg, rgba(25, 112, 131, 1) 34%, rgba(87, 199, 100, 1) 65%, rgba(25, 112, 131, 1) 84%);

}


main {
 display: flex;
}
#principal {
    background-color: rgba(255, 238, 0, 0.129);
    width: 65%;
    float: left;
}
#secundario {
    background-color: rgba(232, 232, 232, 0.137);
    width: 40%;
    float: right;
    margin-left: 5px;
    padding-left: 5px;
}
